HTML CSS BabelResult Skip Results Iframe

* {
  margin: 0;
  padding: 0;
}



.pages {

  text-align: center;
  font-size: calc(1.5rem + 2vw);
  margin-top: 10%;
  
 
}

.navbar {


  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;

  
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.main-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.3);
}

.nav-logo {
  color: #f5b921;
  align-items: center;

  cursor: pointer;
  text-decoration: none;

  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top:auto;
 
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  justify-content: center;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}


.registerbtn{

  color: #1f5156;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
  border-radius: 10px;
  
}

.logo{
width: 40%;
height: 40%;
margin: 60px 10px 10px 10px;


}
.button{

  margin-left: 100px;
 
}
.reg-button{

  margin-left: 100px;

 
}


@media screen and (max-width: 960px) {
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #070202;
    position: absolute;
    top: 80px;
    left: -110%;

    transition: all 0.5s ease;
   
  }

  .nav-menu.active {
    background: #1f5156;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
    justify-content: center;
    align-items: center;
   
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
    align-items: center;
    justify-content: center;
   
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
@media screen and (max-width: 1450px) {
  .logo{
    width: 10rem;
    height: 10rem;
    margin: 70px 10px 10px 10px;
    
    
    }
}

@media screen and (max-width: 1200px) {
  .nav-container {
  margin-top: 40px; 
  flex-direction: column;


  }
  .reg-button .nav-item{
    margin-top: 20px;
    
    
  
   
  }
  .cisslogo{
  float: left;
  margin-left: 500px;
  margin-top: 100px;
    
    
    
  }
  .logo{
   
    width: 10rem;
    height: 10rem;
    margin: 70px 10px 10px 10px;
    
    
    
   
  }
  .nav-menu {
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  }


 

  .nav-item {
    margin-top: 20px;

  }
  .button{
margin-right: 100px;

margin-top: 20px;
text-align: center;

    
  }
  

}



